<p id="notice"><%= notice %></p>



<table class="table table-hover">
  <thead>
     <tr>
        <td>Nome fantasia</td>
        <td>Responsavel</td>
        <td>telefone</td>
        <td>cidade</td>
        <td></td>
        <td></td>
        
     </tr>
  </thead>
<% @representantes.each do |representante| %>
 <tbody>
     <tr>
        <td><%= representante.responsavel %></td>
        <td><%= representante.nome_fantasia %></td>
        <td><%= representante.cpf_cnpj %></td>
        <td><%= representante.telefone %></td>
        <td>
          <button type="submit" class="btn btn-success"><i class="fa fa-eye" aria-hidden="true"></i><%= link_to 'exibir', representante %></button>
        </td>
       
     </tr>
  </tbody>
 <% end %>
</table>
  
       
     
       
      