<p id="notice"><%= notice %></p>
<center>
    <div class="panel panel-primary">
         <div class="panel-heading">
            <h3 class="panel-title">Usuario Criado</h3>
         </div>
         <div class="panel-body">
            <table class="table table-striped">
                <thead>
                     <tr>
                        <td>Nome Fantasia</td>
                        <td>Responsavel</td>
                        <td>CPF/CNPJ</td>
                        <td>Telefone</td>
                        <td>Email</td>
                     </tr>
                </thead>
                
                <tbody>
                     <tr>
                        <td><%= @representante.nome_fantasia %></td>
                        <td><%= @representante.responsavel %></td>
                        <td> <%= @representante.cpf_cnpj %></td>
                        <td><%= @representante.telefone %></td>
                         <td><%= @representante.email %></td>
                
                </body>  
                </table>
                <table class="table table-hover">
                <thead>
                     <tr>
                        
                        <td>CEP</td>
                        <td>Endereço</td>
                        <td>Logradouro</td>
                        <td>Bairro</td>
                        <td>Cidade</td>
                        <td>Estado</td>
                     </tr>
                </thead>
              
                <tbody>
                     <tr> 
                        <td><%= @representante.cep %></td>
                        <td><%= @representante.logradouro %></td>
                        <td><%= @representante.logradouro %></td>
                        <td><%= @representante.bairro %></td>
                        <td><%= @representante.cidade %></td>
                        <td><%= @representante.estado %></td>
                        <td></td>
                 </body>
               
                  
                </table>
                
                
               
                  
                <table class="table table-hover">
                
                <thead>
                     <tr>
                       
                       
                        <td>
                           <button type="submit" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i><%= link_to 'Editar', edit_representante_path(@representante) %></button>
                            
                        </td>
                    
                        <td>
                           <button type="submit" class="btn btn-danger"><i class="fa fa-eye" aria-hidden="true"></i><%= link_to 'Destroy', @representante, method: :delete, data: { confirm: 'Are you sure?' } %></button>
                          
                        </td>
                       

                    </tr>
                </thead>
                
               
                </table>

        </div>
     </div>

    </panel>
</center>
