<p id="notice"><%= notice %></p>

<p>
  <strong>Responsavel:</strong>
  <%= @representante.responsavel %>
</p>

<p>
  <strong>Nome fantasia:</strong>
  <%= @representante.nome_fantasia %>
</p>

<p>
  <strong>Cpf cnpj:</strong>
  <%= @representante.cpf_cnpj %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @representante.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @representante.email %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @representante.cep %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @representante.endereco %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @representante.logradouro %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @representante.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @representante.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @representante.estado %>
</p>

<p>
  <strong>Status:</strong>
  <%= @representante.status %>
</p>

<%= link_to 'Edit', edit_representante_path(@representante) %> |
<%= link_to 'Back', representantes_path %>
